.hexagon {
  position: absolute;
  background-image: url(hexagon_bg.svg);
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

body {
  overflow: hidden;
}

.has-player {
  background-image: url(hexagon-color.png);
  background-size: 50px 50px;
  z-index: -150;
}

.hexagon.clickable:hover {
  background-image: url(hexagon_hover.svg);
}

.hexagon.blocked {
  background-image: url(hexagon_blocked.svg);
}

.board {
  transform: translate(50vw, 50vh);
  background-color: lightblue;
  z-index: -100;
}

input {
  z-index: 450;
}


.info {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 220px;
	height: 100px;
	font-size: 13px;
	font-family: sans-serif;
	color: #ddd;
	background-color: rgba(20, 20, 20, 0.8);
	padding: 20px;
	border-radius: 15px 0 0 0;
	border-width: 2px 0 0 2px;
	border-style: solid;
	border-color: rgba(40, 40, 80, 0.9);
}

.info a {
	color: #babaff;
}

#outermost {
	outline: none;
}
